body {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

.tile {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  margin: 5px;
  cursor: grab;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.drop-zone {
  width: 300px;
  min-height: 150px;
  border: 2px dashed #ccc;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.drop-zone:hover {
  border-color: #4caf50;
}

progress {
  width: 100%;
  height: 20px;
}

#feedback-message {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

/* استایل فیدبک موفق */
.success {
  color: green;
}

/* استایل فیدبک خطا */
.error {
  color: red;
}

/* هاله سبز برای جعبه */
.box-correct {
  border: 4px solid green;
  box-shadow: 0 0 15px green;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

/* هاله قرمز برای جعبه */
.box-incorrect {
  border: 4px solid red;
  box-shadow: 0 0 15px red;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

#new-game-section, .count-small-numbers {
  margin: 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#new-exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#new-exercise-container .animal-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#new-exercise-container .number-row {
  display: flex;
  gap: 10px;
}

.number-row input {
  width: 40px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.number-row span {
  width: 40px;
  text-align: center;
  font-size: 1.2em;
}